<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <Condition Message="This application is only supported on Windows 7, Windows Server 2008 R2, or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <ComponentGroup Id="CoreLaunchConditions" />
  </Fragment>

</Wix>