version: 0.1.{build}
platform: x86
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
build:
  verbosity: minimal
artifacts:
  - path: '**\*.msi'
deploy:
  release: dynaproject-v$(appveyor_build_version)
  provider: GitHub
  auth_token:
    secure: Gl0kqhnXpEHMQV4Q05Dyl1bbNmX72cfZe8YIq+Djm7Z/Bhvb7+vHD9BMsL82T9pQ # your encrypted token from GitHub
  artifact: /.*\.msi/            # upload all installers to release assets
  draft: false
  prerelease: false
  on:
    branch: master                 # release from master branch only
    appveyor_repo_tag: true        # deploy on tag push only
environment:
  APPVEYOR_REPO_TAG: true