<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.OrTools.x86" version="5.0.6170.24109" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net47" />
  <package id="Irony" version="1.1.0" targetFramework="net47" />
  <package id="Irony.Interpreter" version="1.1.0" targetFramework="net47" />
</packages>