<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
			 UpgradeCode="29182EA7-2D18-4335-9246-FAF17FECD173" 
			 Version="0.1.0.0" 
			 Language="1033" 
			 Name="Dyna Project" 
			 Manufacturer="OPENXTRA Limited">
        <Package InstallerVersion="300" Compressed="yes"/>
        <Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />

        <!-- Define the directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="Dyna Project"/>
            </Directory>
        </Directory>

        <!-- Add files to your installer package -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="DynaAppExecutables" Guid="8DFAEA14-E192-4609-A15F-91BBB38BA28D">
                <File Id="DynaApp" Source="Dyna Application\DynaApp\bin\Release\DynaApp.exe" KeyPath="yes" Checksum="yes"/>
                <File Id="DynaAppConfiguration" Source="Dyna Application\DynaApp\bin\Release\DynaApp.exe.config" KeyPath="yes" Checksum="yes"/>
                <File Id="AutoMapper" Source="Dyna Application\DynaApp\bin\Release\AutoMapper.dll" KeyPath="yes" Checksum="yes"/>
                <File Id="AutoMapper.Net4" Source="Dyna Application\DynaApp\bin\Release\AutoMapper.Net4.dll" KeyPath="yes" Checksum="yes"/>
                <File Id="Google.OrTools" Source="Dyna Application\DynaApp\bin\Release\Google.OrTools.dll" KeyPath="yes" Checksum="yes"/>
                <File Id="Sprache" Source="Dyna Application\DynaApp\bin\Release\Sprache.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <!-- Define application feature -->
        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="DynaAppExecutables" />
        </Feature>
    </Product>
</Wix>