<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define APPPATH = "$(var.TargetDir)"?>

	<!--
	Because we perform a major upgrade with every install we need to generate a new Product Id.
	However, DO NOT change the UpgradeCode.
	-->
    <Product Id="*" 
			 UpgradeCode="29182EA7-2D18-4335-9246-FAF17FECD173" 
			 Version="!(bind.FileVersion.DynaAppExecutable)" 
			 Language="1033" 
			 Name="$(var.APPTITLE)" 
			 Manufacturer="$(var.APPMANU)">

		<Condition Message="This application is only supported on Windows 7, Windows Server 2008 R2, or higher.">
			<![CDATA[Installed OR (VersionNT >= 601)]]>
		</Condition>			 

		<Package InstallerVersion="301"
				 Compressed="yes"
				 InstallPrivileges="elevated"
				 InstallScope="perMachine"
				 Manufacturer="$(var.APPMANU)"
				 Platform="x86" />
        
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

        <!-- Define the directory structure -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="APPLICATIONROOTDIRECTORY" Name="Dyna Project"/>
            </Directory>
        </Directory>

        <!-- Add files to your installer package -->
        <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
            <Component Id="DynaAppExecutable" Guid="8DFAEA14-E192-4609-A15F-91BBB38BA28D">
                <File Id="DynaApp" Source="$(var.APPPATH)\DynaApp.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="DynaAppDependencies" Guid="8DFAEA14-E192-4609-A15F-91BBB38BA28D">
                <File Id="DynaApp" Source="$(var.APPPATH)\DynaApp.exe" KeyPath="yes" Checksum="yes"/>
                <File Id="DynaAppConfiguration" Source="$(var.APPPATH)\DynaApp.exe.config" KeyPath="yes" Checksum="yes"/>
                <File Id="AutoMapper" Source="$(var.APPPATH)\AutoMapper.dll" KeyPath="yes" Checksum="yes"/>
                <File Id="AutoMapper.Net4" Source="$(var.APPPATH)\AutoMapper.Net4.dll" KeyPath="yes" Checksum="yes"/>
                <File Id="Google.OrTools" Source="$(var.APPPATH)\Google.OrTools.dll" KeyPath="yes" Checksum="yes"/>
                <File Id="Sprache" Source="$(var.APPPATH)\Sprache.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="DynaAppStartMenuShortcut" Guid="755D748E-AB82-47A2-9C86-3D553D2E0EB6">
                <Shortcut Id="ApplicationStartMenuShortcut" 
						  Name="$(var.APPTITLE)" 
						  Description="$(var.APPDESCRIPTION)"
						  Target="[#DynaApp]"
						  WorkingDirectory="APPLICATIONROOTDIRECTORY" />
                <Shortcut Id="UninstallProduct"             
                          Name="Uninstall Dyna Project"
                          Description="Uninstalls all Dyna Project application files."
                          Target="[System64Folder]msiexec.exe"
                          Arguments="/x [ProductCode]" /> 
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
           </Component>
        </DirectoryRef>

        <!-- Define application feature -->
        <Feature Id="MainApplication" Title="Main Application" Level="1">
            <ComponentRef Id="DynaAppExecutable" />
            <ComponentRef Id="DynaAppDependencies" />
            <ComponentRef Id="DynaAppStartMenuShortcut" />
        </Feature>
    </Product>
</Wix>